@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  color: black;
}

section{
  padding: 1em 1.5em;
}

h3{
  color: #d65071;
  margin: .5em 0;
}

.skills ul{
  margin: .5em 2em;
  padding: 0 .5em;
  line-height: 1.5em;
}

.education h4 i{
  font-weight: 300;
}
